<body style="background-color: rgb(197, 156, 170);margin-left: 11px;margin-right: 11px;">
<form  (ngSubmit)="Login()"  method="post" style="height: 800px;padding-top:80px ;">
   
  
    <div class="container">
      <label for="uname"><b style="font-size: 30px;">Username</b></label>
      <input type="text" [(ngModel)]="Username"  placeholder="Enter Username" name="uname" required >
  
      <label for="psw" style="padding-top:80px"><b style="font-size: 30px;">Password</b></label>
      <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="psw" required>
     <div style="padding-top:50px ;">
      <button type="submit" style="width: 100px;background-color: black;margin-right: 20px;">Login</button>
      <button type="button" (click)="Back()" style="width: 100px;background-color: black;">Cancel</button>
    </div>
    </div>
    
   
  </form>
  
</body>